In [1]:
pip install numpy

Collecting numpy
  Downloading numpy-2.1.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ---------------------------------------- 60.8/60.8 kB 1.1 MB/s eta 0:00:00
Downloading numpy-2.1.3-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.6/12.6 MB 12.0 MB/s eta 0:00:02
   ----- ---------------------------------- 1.6/12.6 MB 17.1 MB/s eta 0:00:01
   ------- -------------------------------- 2.5/12.6 MB 17.6 MB/s eta 0:00:01
   --------- ------------------------------ 3.0/12.6 MB 16.0 MB/s eta 0:00:01
   ------------ --------------------------- 4.1/12.6 MB 17.3 MB/s eta 0:00:01
   ---------------- ----------------------- 5.2/12.6 MB 18.3 MB/s eta 0:00:01
   ------------------- -------------------- 6.0/12.6 MB 18.3 MB/s eta 0:00:01
   ----------------------- ---------------- 7.3/12.6 MB 19.4 MB/s eta 0:00:01
   -------------------------- ------------- 8.2/12.6 MB 20.1 MB/s eta 0:00:01
   ----------------------------- ---------- 9.3/12.6 MB 20.5 MB/s eta 0:00:01
   ----------------------------------- ---- 11.0/12.6 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------  12.5/12.6 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 23.4 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.1.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install csv

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement csv (from versions: none)
ERROR: No matching distribution found for csv

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import csv 

f = open('subwaytime.csv' ,  encoding='cp949')
data = csv.reader(f)
header = next(data)
next(data)

max_people = 0
max_station = ''
t = int(input('몇 시의 승차 인원이 가장 많은 역이 궁금하세요? :'))

for row in data:
    for i in range(4,52):
        row[i] = row[i].replace(',',"")
        
    row[4:] = map(int, row[4:])
    people = row[2 * t - 4]
    if people > max_people:
        max_people = people
        max_station =row[3] + '(' + row[1] + ')'
        
f.close()

print(max_station, ':', max_people, '명')

UnicodeDecodeError: 'cp949' codec can't decode byte 0xbd in position 4476: illegal multibyte sequence

In [ ]:
import csv 

f = open('subwaytime.csv' ,  encoding='cp949')
data = csv.reader(f)
header = next(data)
next(data)

max_people = [0] * 24
max_station = [''] * 24

for row in data:
    for i in range(4,52):
        row[i] = row[i].replace(',',"")
        
    row[4:] = map(int, row[4:])
    for j in range(24):
        people = row[2 * j + 4]
        if people > max_people:
            max_people = people
            max_station =row[3] + '(' + row[1] + ')'
        
f.close()

print(max_station)
print(max_people)

In [ ]:
import csv 
import matplotlib.pyplot as plt

f = open('subwaytime.csv' ,  encoding='cp949')
data = csv.reader(f)
header = next(data)
next(data)

max_people = [0] * 24
max_station = [''] * 24

for row in data:
    for i in range(4,52):
        row[i] = row[i].replace(',',"")
        
    row[4:] = map(int, row[4:])
    for j in range(24):
        people = row[2 * j + 4]
        if people > max_people[j]:
            max_people[j] = people
            max_station[j] =row[3] 
        
f.close()

plt.rc('font', family='Malgun Gothic')
plt.bar(range(24), max_people)
plt.xticks(range(24), max_station, rotation=90)
plt.grid(True)
plt.show()

In [5]:
import csv 
import matplotlib.pyplot as plt

f = open('subwaytime.csv' ,  encoding='cp949')
data = csv.reader(f)
header = next(data)
next(data)

max_people = [0] * 24
max_station = [''] * 24

for row in data:
    for i in range(4,52):
        row[i] = row[i].replace(',',"")
        
    row[4:] = map(int, row[4:])
    for j in range(24):
        people = row[2 * j + 4]
        if people > max_people[j]:
            max_people[j] = people
            max_station[j] =row[3] + '(' + str(j + 4 ) + ')'
        
f.close()

plt.rc('font', family='Malgun Gothic')
plt.bar(range(24), max_people)
plt.xticks(range(24), max_station, rotation=90)
plt.grid(True)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
import csv 
import matplotlib.pyplot as plt

f = open('subwaytime.csv' ,  encoding='cp949')
data = csv.reader(f)
header = next(data)
next(data)

max_people = [0] * 24
max_station = [''] * 24

for row in data:
    for i in range(4,52):
        row[i] = row[i].replace(',',"")
        
    row[4:] = map(int, row[4:])
    for j in range(24):
        people = row[2 * j + 4]
        if people > max_people[j]:
            max_people[j] = people
            max_station[j] =row[3] + f'({str(j + 4 ) % 24})'
        
f.close()

plt.rc('font', family='Malgun Gothic')
plt.bar(range(24), max_people)
plt.xticks(range(24), max_station, rotation=90)
plt.grid(True)
plt.show()

In [ ]:
import csv 
import matplotlib.pyplot as plt

f = open('subwaytime.csv' ,  encoding='cp949')
data = csv.reader(f)
header = next(data)
next(data)

max_people = [0] * 24
max_station = [''] * 24

for row in data:
    for i in range(4,52):
        row[i] = row[i].replace(',','')
        
    row[4:] = map(int, row[4:])
    for j in range(24):
        people = row[2 * j + 5]
        if people > max_people[j]:
            max_people[j] = people
            max_station[j] =row[3] + f'({str(j + 4 ) % 24})'
        
f.close()

plt.rc('font', family='Malgun Gothic')
plt.bar(range(24), max_people)
plt.xticks(range(24), max_station, rotation=90)
plt.grid(True)
plt.show()

In [ ]:
import csv

f = open('subwaytime.csv',  encoding='cp949')
data = csv.reader(f)

header = next(data)
next(data)

s_in = [0] * 24
s_out = [0] * 24

for row in data:
    for i in range(4, 52):
        row[i] = row[i].replace(',',"")
        
    row[4:] = map(int, row[4:])
    for i in range(24):
        s_in[i] = s_in[i] + row[2 * i + 4]
        s_out[i] = s_out[i] + row[2 * i + 5]
        
f.close()

In [ ]:
import csv
import matplotlib.pyplot as plt

f = open('subwaytime.csv',  encoding='cp949')
data = csv.reader(f)

header = next(data)
next(data)

s_in = [0] * 24
s_out = [0] * 24

for row in data:
    for i in range(4, 52):
        row[i] = row[i].replace(',',"")
        
    row[4:] = map(int, row[4:])
    for i in range(24):
        s_in[i] = s_in[i] + row[2 * i + 4]
        s_out[i] = s_out[i] + row[2 * i + 5]
        
f.close()

plt.rc('font', family='Malgun Gothic')
plt.title('지하철 시간대별 승하차 인원 추이')
plt.plot(s_in, label='승차')
plt.plot(s_out, label='하차')
plt.legend()
plt.grid(True)
plt.xticks(range(24), range(4,28))
plt.show()

In [10]:
max_people = [0,0,0,0]
print(max_people)

max_people = [0] * 4
print(max_people)

max_people = []
for i in range(4):
    max_people.append(0)
print(max_people)

max_people = [0 for _ in range(4)]
print(max_people)

[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

In [12]:
max_station = ['','','','']
print(max_station)

max_station = [''] * 4
print(max_station)

max_station = []
for i in range(4):
    max_station.append('')
print(max_station)

max_station = ['' for _ in range(4)]
print(max_station)

['', '', '', '']
['', '', '', '']
['', '', '', '']
['', '', '', '']

In [13]:
import csv
f = open('subwayfee.csv', encoding='cp949')
data = csv.reader(f)

header = next(data)

max_station = ['' for _ in range(4)]
max_people = [0 for _ in range(4)]

label = ['유임승차', '유임하차','무임승차','무임하차']

for row in data:
    for i in range(4,8):
        row[i] =int(row[i].replace(',',''))
        if row[i] > max_people[i-4] :
            max_people[i-4] = row[i]
            max_station[i-4] = row[3] + ' ' + row[1]
            
f.close()

for i in range(4):
    print(f'{label[i]}: {max_station[i]}, {max_people[i]} 명')

UnicodeDecodeError: 'cp949' codec can't decode byte 0xbd in position 834: illegal multibyte sequence

In [ ]:
import csv
import matplotlib.pyplot as plt

f = open('subwayfee.csv', encoding='cp949')
data = csv.reader(f)

header = next(data)

max_station = ['' for _ in range(4)]
max_people = [0 for _ in range(4)]

label = ['유임승차', '유임하차','무임승차','무임하차']
color = ['skyblue','palegreen', 'pink','beige']

plt.rc('font' , family='Malgun Gothic')
for row in data:
    for i in range(4,8):
        row[i] = int(row[i].replace(',',""))
        
    plt.title(row[3] + ' ' + row[1])
    plt.pie(row[4:8], labels=label, colors=color, autopct='%1.f%%')
    plt.show()
      
        
f.close()

In [ ]:
import csv
import matplotlib.pyplot as plt

f = open('subwayfee.csv', encoding='cp949')
data = csv.reader(f)

header = next(data)

max_station = ['' for _ in range(4)]
max_people = [0 for _ in range(4)]

label = ['유임승차', '유임하차','무임승차','무임하차']
color = ['skyblue','palegreen', 'pink','beige']

plt.rc('font' , family='Malgun Gothic')
for row in data:
    for i in range(4,8):
        row[i] = int(row[i].replace(',',""))
        
    plt.title(row[3] + ' ' + row[1])
    plt.pie(row[4:8], labels=label, colors=color, autopct='%1.f%%')
    plt.savefig(row[3] + ' ' + row[1] + '.png')
    plt.show()
      
        
f.close()

In [ ]:
import csv

f = open('age.csv', encoding='cp949')
data = csv.reader(f)

header = next(data)
print(header)

for row in data :
    print(row)
    break

f.close()

In [ ]:
import csv
import numpy as np
import matplotlib.pyplot as plt

f = open('age.csv', encoding='cp949')
data = csv.reader(f)
next(data)

name = input('인구 구조가 알고 싶은 지역의 이름(읍면동 단위)을 입력해주세요 : ')
for row in data :
    row[2:] = map(lambda s: s.replace(',',''), row[2:])
    if name in row[0] :
        home = np.array(row[3:], dtype =int)
        break
    
f.close

plt.rc('font', family-'Malgun Gothic')
plt.plot(home)
plt.title(f'{name} 지역의 인구 구조')
plt.grid(True)
plt.xlabel('나이')
plt.ylabel('인구수')
plt.show()

In [ ]:
import csv
import numpy as np
import matplotlib.pyplot as plt

f = open('age.csv', encoding='cp949')
data = csv.reader(f)
next(data)

name = input('인구 구조가 알고 싶은 지역의 이름(읍면동 단위)을 입력해주세요 : ')
for row in data :
    row[2:] = map(lambda s: s.replace(',',''), row[2:])
    if name in row[0] :
        home = np.array(row[3:], dtype =int)
    if '화촌면' in row[0] :
        homeB = np.array(row[3:], dtype = int)
        print(row[0])
f.close

plt.rc('font', family-'Malgun Gothic')
plt.plot(home, label=name)
plt.plot(homeB, label='화촌면')
plt.title(f'{name} 지역의 인구 구조')
plt.grid(True)
plt.xlabel('나이')
plt.ylabel('인구수')
plt.show()

In [ ]:
import csv
import numpy as np
import matplotlib.pyplot as plt

f = open('age.csv', encoding='cp949')
data = csv.reader(f)
header = next(data)

name = input('인구 구조가 알고 싶은 지역의 이름(읍면동 단위)을 입력해주세요 : ')
for row in data :
    row[2:] = map(lambda s: s.replace(',',''), row[2:])
    if name in row[0] :
        home = np.array(row[3:], dtype =int) / row[2]
    if '화촌면' in row[0] :
        homeB = np.array(row[3:], dtype = int) / row[2]
        print(row[0])
f.close

plt.rc('font', family-'Malgun Gothic')
plt.plot(home, label=name)
plt.plot(homeB, label='화촌면')
plt.title(f'{name} 지역과 화촌면 지역의 인구 구조 비교')
plt.grid(True)
plt.xlabel('나이')
plt.ylabel('인구수')
plt.legend
plt.show()

In [ ]:
import csv
import numpy as np
import matplotlib.pyplot as plt

f = open('age.csv', encoding='cp949')
data = csv.reader(f)
header=(data)

print(type(data))

name = input('인구 구조가 알고 싶은 지역의 이름(읍면동 단위)을 입력해주세요 : ')
for row in data :
    row[2:] = map(lambda s: s.replace(',',''), row[2:])
    if name in row[0] :
        home = np.array(row[3:], dtype =int) / row[2]
   
for row in data:
    print(row)
    
f.close

In [ ]:
import csv
import numpy as np
import matplotlib.pyplot as plt

f = open('age.csv', encoding='cp949')
data = csv.reader(f)
header=(data)

print(type(data))
data =list(data)
print(type(data))

name = input('인구 구조가 알고 싶은 지역의 이름(읍면동 단위)을 입력해주세요 : ')
for row in data :
    row[2:] = map(lambda s: s.replace(',',''), row[2:])
    if name in row[0] :
        home = np.array(row[3:], dtype =int) / row[2]
   
for row in data:
    print(row)
    
f.close

In [ ]:
d = [['1','2'],['10','20','30'],['11','22','33']]
print(d)

for item in d:
    for i in range(len(item)):
        item[i] = int(item[i])
        
print(d)

In [15]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\109-1\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\109-1\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\109-1\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 15.9 MB/s eta 0:00:01
   ------ --------------------------------- 1.8/11.5 MB 23.0 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.5 MB 31.7 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 40.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.5 MB 37.8 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 50.1 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
   ---------------------------------------- 508.0/508.0 kB ? eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   --------------------------------------- 346.6/346.6 kB 21.0 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [17]:
import pandas as pd 
 
index = pd.date_range('1/1/2024', periods=8)
index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08'],
              dtype='datetime64[ns]', freq='D')

In [18]:
import numpy as np
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.rand(8,3), index= index , columns = list('ABC'))
df

                   A         B         C
2024-01-01  0.776335  0.034284  0.863020
2024-01-02  0.409409  0.132109  0.431704
2024-01-03  0.896071  0.688565  0.571639
2024-01-04  0.366663  0.885238  0.816544
2024-01-05  0.648901  0.322288  0.477084
2024-01-06  0.543947  0.241590  0.835740
2024-01-07  0.642680  0.194782  0.624057
2024-01-08  0.131902  0.651452  0.933741

In [19]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.rand(8,3),index=index, columns= list('ABC'))
df['B']

2024-01-01    0.705433
2024-01-02    0.629488
2024-01-03    0.110168
2024-01-04    0.491659
2024-01-05    0.901450
2024-01-06    0.588526
2024-01-07    0.176309
2024-01-08    0.727205
Freq: D, Name: B, dtype: float64

In [20]:
df['B'][0]

C:\Users\109-1\AppData\Local\Temp\ipykernel_6680\2498547084.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['B'][0]

np.float64(0.705433121786968)

In [26]:
import pandas as pd
import numpy as np

index = pd.date_range('1/1/2000', periode=8)

df = pd.DataFrame(np.random.rand(8,3), index=index, cloumns=['A','B','C'])
print(df['B'] > 0.4)

TypeError: DatetimeArray._generate_range() got an unexpected keyword argument 'periode'

In [25]:
import pandas as pd 
import numpy as np

index = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.rand(8,3), index=index, columns=['A','B','C'])
df

                   A         B         C
2000-01-01  0.387096  0.298906  0.864486
2000-01-02  0.693778  0.270285  0.774701
2000-01-03  0.996901  0.930688  0.985920
2000-01-04  0.537379  0.038421  0.366642
2000-01-05  0.226854  0.812433  0.156618
2000-01-06  0.341087  0.672277  0.205914
2000-01-07  0.703975  0.184986  0.963021
2000-01-08  0.720876  0.135360  0.416011

In [24]:
df2 = df[df['B']>0.4]
df2

                   A         B         C
2024-01-01  0.348190  0.705433  0.162436
2024-01-02  0.946519  0.629488  0.728028
2024-01-04  0.441861  0.491659  0.916811
2024-01-05  0.450213  0.901450  0.117182
2024-01-06  0.404360  0.588526  0.706532
2024-01-08  0.362572  0.727205  0.323382

In [27]:
df['D'] = df['A'] /df['B']
df

                   A         B         C          D
2000-01-01  0.387096  0.298906  0.864486   1.295042
2000-01-02  0.693778  0.270285  0.774701   2.566838
2000-01-03  0.996901  0.930688  0.985920   1.071144
2000-01-04  0.537379  0.038421  0.366642  13.986427
2000-01-05  0.226854  0.812433  0.156618   0.279228
2000-01-06  0.341087  0.672277  0.205914   0.507361
2000-01-07  0.703975  0.184986  0.963021   3.805562
2000-01-08  0.720876  0.135360  0.416011   5.325625

In [28]:
df['E'] = np.sum(df, axls=1)
df

TypeError: sum() got an unexpected keyword argument 'axls'

In [ ]:
df1 = df.deoop(['E','F'], axls='solumns')
df1.head()

In [ ]:
del1 df1['D']
df1.head()

In [ ]:
df1.columns =['a','b','c']
df1

In [ ]:
df1 = df1.duv(df1['c'], axis='index')
df1.tail()

In [ ]:
df1.ro_scv('test.csv')
df1