In [10]:
pip install numpy

Requirement already satisfied: numpy in c:\users\109-1\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\109-1\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\109-1\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\109-1\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 4.3 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/11.5 MB 9.6 MB/s eta 0:00:02
   ------ --------------------------------- 1.7/11.5 MB 13.8 MB/s eta 0:00:01
   --------- ------------------------------ 2.7/11.5 MB 15.7 MB/s eta 0:00:01
   ------------- -------------------------- 3.9/11.5 MB 19.0 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.5 MB 20.0 MB/s eta 0:00:01
   ------------------- -------------------- 5.6/11.5 MB 18.8 MB/s eta 0:00:01
   ----------------------- ---------------- 6.6/11.5 MB 19.3 MB/s eta 0:00:01
   ------------------------- -------------- 7.4/11.5 MB 18.9 MB/s eta 0:00:01
   --------------------------- ------------ 8.0/11.5 MB 17.7 MB/s eta 0:00:01
   ----------------------------- ---------- 8.5/11.5 MB 17.0 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.5 MB 16.1 MB/s eta 0:00:01
   ------------------------------- -------- 9.1/11.5 MB 15.2 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.5 MB 14.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 14.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 14.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 14.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 14.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 11.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.5 MB 10.5 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 10.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 10.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 10.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.5 MB 10.1 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.5 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.5 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 9.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
   ------------------ --------------------- 235.5/508.0 kB 7.3 MB/s eta 0:00:01
   ----------------------------- ---------- 368.6/508.0 kB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 508.0/508.0 kB 4.5 MB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   ----------------------- ---------------- 204.8/346.6 kB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 346.6/346.6 kB 7.2 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import numpy as np
import pandas as pd

s = pd.Series([1,3,5,np.nan,6,8], name='first')
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
Name: first, dtype: float64

In [13]:
s.name

'first'

In [14]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [15]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [16]:
s.shape

(6,)

In [17]:
s.size

6

In [18]:
s[1]

np.float64(3.0)

In [19]:
s[1:5]

1    3.0
2    5.0
3    NaN
4    6.0
Name: first, dtype: float64

In [21]:
s.index = list('abcdef')
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
Name: first, dtype: float64

In [22]:
print(s['b'], s['d'])

3.0 nan

In [23]:
s['c':'e']

c    5.0
d    NaN
e    6.0
Name: first, dtype: float64

In [24]:
s['b':'f']

b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
Name: first, dtype: float64

In [25]:
s[0:3]

a    1.0
b    3.0
c    5.0
Name: first, dtype: float64

In [27]:
s1 = s[0:4]
s1

a    1.0
b    3.0
c    5.0
d    NaN
Name: first, dtype: float64

In [28]:
s1[0]

C:\Users\109-1\AppData\Local\Temp\ipykernel_7220\643609873.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0]

np.float64(1.0)

In [29]:
s1[0]=10
s1

C:\Users\109-1\AppData\Local\Temp\ipykernel_7220\2709485624.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s1[0]=10

a    10.0
b     3.0
c     5.0
d     NaN
Name: first, dtype: float64

In [30]:
s

a    10.0
b     3.0
c     5.0
d     NaN
e     6.0
f     8.0
Name: first, dtype: float64

In [31]:
s.index = np.arange(1,7)
s

1    10.0
2     3.0
3     5.0
4     NaN
5     6.0
6     8.0
Name: first, dtype: float64

In [32]:
s[1]

np.float64(10.0)

In [33]:
s[0]

KeyError: 0

In [35]:
s[1:3]

2    3.0
3    5.0
Name: first, dtype: float64

In [36]:
import pandas as pd 

age = pd.Series([9,17,32,45,65,98], index=list('abcdef'), name='age')
age

a     9
b    17
c    32
d    45
e    65
f    98
Name: age, dtype: int64

In [37]:
age['b']

np.int64(17)

In [38]:
age[[1,3,5]]

C:\Users\109-1\AppData\Local\Temp\ipykernel_7220\2675513065.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  age[[1,3,5]]

b    17
d    45
f    98
Name: age, dtype: int64

In [39]:
age[['a','f','d']]

a     9
f    98
d    45
Name: age, dtype: int64

In [40]:
age[['c']]

c    32
Name: age, dtype: int64

In [41]:
import pandas as pd 

s= pd.Series([3,6,-3,0,-4,8,-7])
s

0    3
1    6
2   -3
3    0
4   -4
5    8
6   -7
dtype: int64

In [42]:
s > 0

0     True
1     True
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [43]:
s%2 == 0

0    False
1     True
2    False
3     True
4     True
5     True
6    False
dtype: bool

In [45]:
s[s > 0]

0    3
1    6
5    8
dtype: int64

In [46]:
s[~(s > 0)]

2   -3
3    0
4   -4
6   -7
dtype: int64

In [47]:
s[s%2 == 0]

1    6
3    0
4   -4
5    8
dtype: int64

In [48]:
s[s%2 != 0]

0    3
2   -3
6   -7
dtype: int64

In [49]:
s[(s > 0) & (s%2 == 0)]

1    6
5    8
dtype: int64

In [50]:
import pandas as pd

s= ['희빈','수영','현수','지호','지민']
p=pd.Series([99,84,92,65,78], index=s)
p

희빈    99
수영    84
현수    92
지호    65
지민    78
dtype: int64

In [51]:
p.name = '수학성적'
p.index.name = 'st_name'
p

st_name
희빈    99
수영    84
현수    92
지호    65
지민    78
Name: 수학성적, dtype: int64

In [52]:
p.sort_values()

st_name
지호    65
지민    78
수영    84
현수    92
희빈    99
Name: 수학성적, dtype: int64

In [53]:
p.sort_values(ascending=False)

st_name
희빈    99
현수    92
수영    84
지민    78
지호    65
Name: 수학성적, dtype: int64

In [54]:
p.sort_index()

st_name
수영    84
지민    78
지호    65
현수    92
희빈    99
Name: 수학성적, dtype: int64

In [55]:
p.sort_index(ascending=False)

st_name
희빈    99
현수    92
지호    65
지민    78
수영    84
Name: 수학성적, dtype: int64

In [56]:
print(p.max())
print(p.min())

99
65

In [57]:
print(p.mean())
print(p.median())

83.6
84.0

In [58]:
print(p.count())
print(p.size)

5
5

In [59]:
p.describe()

count     5.000000
mean     83.600000
std      13.088163
min      65.000000
25%      78.000000
50%      84.000000
75%      92.000000
max      99.000000
Name: 수학성적, dtype: float64

In [60]:
import numpy as np
import pandas as pd

s= pd.Series([3,1,1,2,None,np.nan,4,6,6,np.nan])
s

0    3.0
1    1.0
2    1.0
3    2.0
4    NaN
5    NaN
6    4.0
7    6.0
8    6.0
9    NaN
dtype: float64

In [61]:
s.values

array([ 3.,  1.,  1.,  2., nan, nan,  4.,  6.,  6., nan])

In [62]:
s.count()

np.int64(7)

In [63]:
s.value_counts

<bound method IndexOpsMixin.value_counts of 0    3.0
1    1.0
2    1.0
3    2.0
4    NaN
5    NaN
6    4.0
7    6.0
8    6.0
9    NaN
dtype: float64>

In [64]:
s.value_counts(dropna=False)

NaN    3
1.0    2
6.0    2
3.0    1
2.0    1
4.0    1
Name: count, dtype: int64

In [65]:
s.value_counts(sort=False, dropna=False)

3.0    1
1.0    2
2.0    1
NaN    3
4.0    1
6.0    2
Name: count, dtype: int64

In [67]:
s.value_counts(bins=4)

(0.994, 2.25]    3
(4.75, 6.0]      2
(2.25, 3.5]      1
(3.5, 4.75]      1
Name: count, dtype: int64

In [68]:
s.value_counts(bins=4, sort=False)

(0.994, 2.25]    3
(2.25, 3.5]      1
(3.5, 4.75]      1
(4.75, 6.0]      2
Name: count, dtype: int64

In [69]:
s.value_counts(bins=[0.5,3.5,6.5], sort=False)

(0.499, 3.5]    4
(3.5, 6.5]      3
Name: count, dtype: int64

In [70]:
import pandas as pd

df=pd.DataFrame([10,20,30,40,50])
df

    0
0  10
1  20
2  30
3  40
4  50

In [71]:
import pandas as pd

df=pd.DataFrame([[1,2,3],[10,20,30],[100,200,300]],index=list('abc'))
df

     0    1    2
a    1    2    3
b   10   20   30
c  100  200  300

In [72]:
df=pd.DataFrame([[1,2,3],[10,20,30],[100,200,300]],index=list('abc'),columns=['A','B','C'])
df

     A    B    C
a    1    2    3
b   10   20   30
c  100  200  300

In [73]:
print(df.index)
print(df.columns)

Index(['a', 'b', 'c'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')

In [74]:
import numpy as np
import pandas as pd

df1=pd.DataFrame(data=np.arange(12).reshape(3,4))
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [75]:
df1=pd.DataFrame(np.random.randint(1,46,(5,6)))
df1

    0   1   2   3   4   5
0  37  19  28  18   5  43
1  20  10  14  42   8  30
2  33   4   6  27   3   9
3   7  30  23  43  11  12
4  26   7  11  20  20  30

In [76]:
df1 = pd.DataFrame(np.random.random((5,6)))
df1

          0         1         2         3         4         5
0  0.455870  0.769755  0.307432  0.746175  0.852180  0.505068
1  0.992956  0.275839  0.071697  0.196547  0.885968  0.072692
2  0.043838  0.066499  0.630415  0.114341  0.138887  0.804256
3  0.284264  0.737729  0.274574  0.515119  0.821220  0.232694
4  0.027548  0.895554  0.046309  0.418115  0.482271  0.933572

In [77]:
df=pd.DataFrame({'numbers': [1,2,3], 'colors': ['red','white','blue']})
df

   numbers colors
0        1    red
1        2  white
2        3   blue

In [78]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [79]:
df.columns

Index(['numbers', 'colors'], dtype='object')

In [80]:
df=pd.DataFrame({'국어': [82,76,67], '수학': [99,87,78]},index=['김국진','신영희','이길순'])
df

     국어  수학
김국진  82  99
신영희  76  87
이길순  67  78

In [81]:
df.index

Index(['김국진', '신영희', '이길순'], dtype='object')

In [82]:
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
courses

0      Spark
1    PySpark
2     Hadoop
Name: courses, dtype: object

In [83]:
fees = pd.Series([250000,300000,200000], name='fees')
fees

0    250000
1    300000
2    200000
Name: fees, dtype: int64

In [84]:
df=pd.DataFrame({courses.name: courses, fees.name: fees})
df

   courses    fees
0    Spark  250000
1  PySpark  300000
2   Hadoop  200000

In [86]:
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([250000,300000,200000], name='fees')

df =pd.concat([courses,fees],axis=1)
df

   courses    fees
0    Spark  250000
1  PySpark  300000
2   Hadoop  200000

In [87]:
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([250000,300000,200000], name='fees')

df =pd.concat([courses,fees])
df

0      Spark
1    PySpark
2     Hadoop
0     250000
1     300000
2     200000
dtype: object

In [88]:
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([250000,300000,200000], name='fees')

df =pd.DataFrame([courses,fees])
df

              0        1       2
courses   Spark  PySpark  Hadoop
fees     250000   300000  200000

In [89]:
df.T

   courses    fees
0    Spark  250000
1  PySpark  300000
2   Hadoop  200000

In [90]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [91]:
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
df[courses.name]=courses
df

   courses
0    Spark
1  PySpark
2   Hadoop

In [92]:
courses = pd.Series([250000,300000,200000], name='courses')
df[fees.name]=fees
df

   courses    fees
0    Spark  250000
1  PySpark  300000
2   Hadoop  200000

In [93]:
import pandas as pd

df=pd.DataFrame([{'국어': 70, '수학': 89,'영어':90},{'국어': 80,'영어':99},{'수학': 66,'영어':78}])
df

     국어    수학  영어
0  70.0  89.0  90
1  80.0   NaN  99
2   NaN  66.0  78

In [95]:
import pandas as pd

s1=pd.Series([90,80,60,66])
s2=pd.Series([45,73,83,99])
s3=pd.Series([92,75,82,75])
s1

0    90
1    80
2    60
3    66
dtype: int64

In [96]:
df=pd.DataFrame({'국어': s1, '영어': s2,'수학': s3})
df

   국어  영어  수학
0  90  45  92
1  80  73  75
2  60  83  82
3  66  99  75

In [97]:
df.index = ['노','장','박','강']
df

   국어  영어  수학
노  90  45  92
장  80  73  75
박  60  83  82
강  66  99  75

In [98]:
df=pd.DataFrame({'A':pd.Series([10,20,30],index=[0,1,2]),'B':pd.Series([3,2,1],index=[1,2,3])})
df

      A    B
0  10.0  NaN
1  20.0  3.0
2  30.0  2.0
3   NaN  1.0

In [100]:
s1=pd.Series([90,80,60],index=['노','장','박'])
s2=pd.Series([45,73,99],index=['장','박','강'])
s3=pd.Series([92,75,82,75])

In [101]:
df=pd.DataFrame({'국어': s1, '영어': s2,'수학':s3},index=['노','장','박','강'])
df

     국어    영어  수학
노  90.0   NaN NaN
장  80.0  45.0 NaN
박  60.0  73.0 NaN
강   NaN  99.0 NaN

In [102]:
d = {'col1': [1,2], 'col2': [3,4]}
df=pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [103]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [105]:
df = pd.DataFrame(data=d,dtype=np.int8)
df.dtypes

col1    int8
col2    int8
dtype: object

In [107]:
dates=pd.date_range("20250101", periods=6)
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [108]:
dates[0]

Timestamp('2025-01-01 00:00:00')

In [109]:
dates=pd.date_range("20250101", end='20250110')
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10'],
              dtype='datetime64[ns]', freq='D')

In [111]:
dates=pd.date_range("20250101", periods=6, freq='3D')
dates

DatetimeIndex(['2025-01-01', '2025-01-04', '2025-01-07', '2025-01-10',
               '2025-01-13', '2025-01-16'],
              dtype='datetime64[ns]', freq='3D')

In [112]:
dates=pd.date_range("20250101", periods=6, freq='3H')
dates

C:\Users\109-1\AppData\Local\Temp\ipykernel_7220\494548001.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates=pd.date_range("20250101", periods=6, freq='3H')

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 03:00:00',
               '2025-01-01 06:00:00', '2025-01-01 09:00:00',
               '2025-01-01 12:00:00', '2025-01-01 15:00:00'],
              dtype='datetime64[ns]', freq='3h')

In [113]:
dates=pd.date_range("20250101", periods=6, freq='W')
dates

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26',
               '2025-02-02', '2025-02-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [114]:
dates=pd.date_range("20240101", periods=6, freq='W')
dates

DatetimeIndex(['2024-01-07', '2024-01-14', '2024-01-21', '2024-01-28',
               '2024-02-04', '2024-02-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [116]:
dates=pd.date_range("20240101", periods=6, freq='W-TUE')
dates

DatetimeIndex(['2024-01-02', '2024-01-09', '2024-01-16', '2024-01-23',
               '2024-01-30', '2024-02-06'],
              dtype='datetime64[ns]', freq='W-TUE')

In [117]:
dates=pd.date_range("20240101", periods=6, freq='W-FRI')
dates

DatetimeIndex(['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26',
               '2024-02-02', '2024-02-09'],
              dtype='datetime64[ns]', freq='W-FRI')

In [118]:
dates=pd.date_range("20240101", periods=6, freq='M')
dates

C:\Users\109-1\AppData\Local\Temp\ipykernel_7220\3819510770.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates=pd.date_range("20240101", periods=6, freq='M')

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30'],
              dtype='datetime64[ns]', freq='ME')

In [119]:
dates=pd.date_range("20240101", periods=6, freq='MS')
dates

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01',
               '2024-05-01', '2024-06-01'],
              dtype='datetime64[ns]', freq='MS')

In [120]:
dates=pd.date_range("20240101", periods=6)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [128]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,
                columns=list("ABCD"))
df

ValueError: Index data must be 1-dimensional

In [129]:
df2 = pd.DataFrame(
{
    "A": 1.0,
    "B": pd.Timestamp("20260302"),
    "C": pd.Series(np.arange(1,3,.5)),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train","test","train"]),
    "F": "foo"     
}
)
df2

     A          B    C  D      E    F
0  1.0 2026-03-02  1.0  3   test  foo
1  1.0 2026-03-02  1.5  3  train  foo
2  1.0 2026-03-02  2.0  3   test  foo
3  1.0 2026-03-02  2.5  3  train  foo

In [130]:
df2.dtypes

A          float64
B    datetime64[s]
C          float64
D            int32
E         category
F           object
dtype: object

In [132]:
pf = pd.DataFrame(data=[[25,35,8,18],
                        [18,27,10,20],
                        [17,17,10,19],
                        [12,22,9,20],
                        [22,34,8,16]],
                  index=['윤일형','강수희','홍소희','유한빈','신수빈'],
                  columns=['중간','기말','과제','출석'])
pf

     중간  기말  과제  출석
윤일형  25  35   8  18
강수희  18  27  10  20
홍소희  17  17  10  19
유한빈  12  22   9  20
신수빈  22  34   8  16

In [133]:
pf['중간']

윤일형    25
강수희    18
홍소희    17
유한빈    12
신수빈    22
Name: 중간, dtype: int64

In [134]:
pf['중간']

윤일형    25
강수희    18
홍소희    17
유한빈    12
신수빈    22
Name: 중간, dtype: int64

In [135]:
pf['출석']

윤일형    18
강수희    20
홍소희    19
유한빈    20
신수빈    16
Name: 출석, dtype: int64

In [137]:
pf[['과제','출석','중간']]

     과제  출석  중간
윤일형   8  18  25
강수희  10  20  18
홍소희  10  19  17
유한빈   9  20  12
신수빈   8  16  22

In [138]:
pf['기말']

윤일형    35
강수희    27
홍소희    17
유한빈    22
신수빈    34
Name: 기말, dtype: int64

In [139]:
pf['중간']>20

윤일형     True
강수희    False
홍소희    False
유한빈    False
신수빈     True
Name: 중간, dtype: bool

In [140]:
pf[pf['중간']> 20]

     중간  기말  과제  출석
윤일형  25  35   8  18
신수빈  22  34   8  16

In [141]:
pf[pf['출석']>=19]

     중간  기말  과제  출석
강수희  18  27  10  20
홍소희  17  17  10  19
유한빈  12  22   9  20

In [142]:
pf[(pf['출석']>=19)& (pf['기말']>=20)]

     중간  기말  과제  출석
강수희  18  27  10  20
유한빈  12  22   9  20

In [150]:
import pandas as pd

df= pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
print(df)

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [146]:
print(type(df))
print(type(df[0]))

<class 'pandas.core.frame.DataFrame'>

KeyError: 0

In [151]:
import pandas as pd

df=pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
df[0]

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [ ]:
import pandas as pd

df=pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
df2=df[0].set_index('국가 (IOC 코드)')
df2

In [ ]:
import pandas as pd

df=pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
df2=df[0].set_index('국가 (IOC 코드)')

summer = df2.iloc[:, :5]
summer

In [ ]:
import pandas as pd

df=pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
df2=df[0].set_index('국가 (IOC 코드)')

summer = df2.iloc[:, :5]
summer.columns =['경기수','금','은','동','합계']
summer

In [ ]:
import pandas as pd

df=pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
df2=df[0].set_index('국가 (IOC 코드)')

summer = df2.iloc[:, :5]
summer.columns =['경기수','금','은','동','합계']
summer = summer.sort_valuse('금', ascending=False)
summer

In [ ]:
import pandas as pd

df=pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
df2=df[0].set_index('국가 (IOC 코드)')

summer = df2.iloc[:, :5]
summer.columns =['경기수','금','은','동','합계']
summer = summer.sort_valuse('금', ascending=False)
summer.to_excel('하계올림픽메달.xlsx')

In [ ]:
import pandas as pd

df = pd.read_excel('하계올림픽메달.xlsx', index_col=0)
df.head()

In [ ]:
import pandas as pd

df = pd.read_excel('하계올림픽메달.xlsx')
df.head()

In [ ]:
df['국가 (IOC 코드)'] == '대한민국 (KOR)'

In [ ]:
df[df['국가 (IOC 코드)'] == '대한민국 (KOR)']

In [ ]:
df.loc[df['국가 (IOC 코드)'] == '대한민국 (KOR)']

In [ ]:
df['국가 (IOC 코드)'].isin(['대한민국 (KOR)'])

In [ ]:
df.loc[df['국가 (IOC 코드)'].isin(['대한민국 (KOR)'])]

In [ ]:
df[df['국가 (IOC 코드)'].str.contains('대한민국')]

In [ ]:
df[df['국가 (IOC 코드)'].str.contains('KOR')]

In [ ]:
df[df['국가 (IOC 코드)'].str.contains('러시아')]

In [ ]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.head()

In [ ]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.dtypes

In [ ]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)

df=df.replace(',','', regex=True)
df.head()

In [ ]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)

df=df.replace(',','', regex=True)

df= df.apply(pd.to_numeric)
df.head()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv('age.csv',encoding='cp949')

df = df.replace(',','', regex=True)
df=df.apply(pd.to_numeric)

df=df[df[df.columns[0]]!=0]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv('age.csv',encoding='cp949')

df = df.replace(',','', regex=True)
df=df.apply(pd.to_numeric)

df=df[df[df.columns[0]]!=0]

df=df.div(df[df.columns[0]], axis='index')
df.head(3)

In [ ]:

import pandas as pd

df=pd.read_csv('age.csv',encoding='cp949')

df = df.replace(',','', regex=True)
df=df.apply(pd.to_numeric)

df=df[df[df.columns[0]]!=0]

df=df.div(df['2023년09월_계_총인구수'], axis='index')
del df['2023년09월_계_총인구수'], df['2023년09월_계_연령구간인구수']
df.head(3)

In [ ]:

import pandas as pd

df=pd.read_csv('age.csv',encoding='cp949')

df = df.replace(',','', regex=True)
df=df.apply(pd.to_numeric)

df=df[df[df.columns[0]]!=0]

df=df.div(df['2023년09월_계_총인구수'], axis='index')
del df['2023년09월_계_총인구수'], df['2023년09월_계_연령구간인구수']

name=input('원하는 지역의 이름을 입력하주세요 : ')
a = df.index.str.contains(name)
df2 =df[a]
df2

In [ ]:

import pandas as pd

df=pd.read_csv('age.csv',encoding='cp949')

df = df.replace(',','', regex=True)
df=df.apply(pd.to_numeric)

df=df[df[df.columns[0]]!=0]

df=df.div(df['2023년09월_계_총인구수'], axis='index')
del df['2023년09월_계_총인구수'], df['2023년09월_계_연령구간인구수']

name=input('원하는 지역의 이름을 입력하주세요 : ')
a = df.index.str.contains(name)
df2 =df[a]

plt.rcParams['font.family']= 'Malgun Gothic'
df2.T.plot()
plt.show()

In [ ]:
x=df.sub(df2.iloc[0],axis='columns')
x.head(3)

In [ ]:
import numpy as np

y=np.power(x,2)
z=y.sum(axis='columns')
z

In [ ]:
i = z.sort_values().index[:6]
i

In [ ]:

import pandas as pd

df=pd.read_csv('age.csv',encoding='cp949')

df = df.replace(',','', regex=True)
df=df.apply(pd.to_numeric)

df=df[df[df.columns[0]]!=0]

df=df.div(df['2023년09월_계_총인구수'], axis='index')
del df['2023년09월_계_총인구수'], df['2023년09월_계_연령구간인구수']

name=input('원하는 지역의 이름을 입력하주세요 : ')
a =df[df.index.str.contains(name)]

x=df.sub(df2.iloc[0],axis='columns')
y=np.power(x,2)
z=y.sum(axis='columns')
i = z.sort_values().index[:6]

plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

df.columns =range(101)
df.loc[i].T.plot(figsize=(10,6))
plt.xlabel('나이')
plt.ylabel('인구 비율')
plt.grid(True)
plt.show()

In [ ]:

import pandas as pd

df=pd.read_csv('age.csv',encoding='cp949')

df = df.replace(',','', regex=True)
df=df.apply(pd.to_numeric)

df=df[df[df.columns[0]]!=0]

df=df.div(df['2023년09월_계_총인구수'], axis='index')
del df['2023년09월_계_총인구수'], df['2023년09월_계_연령구간인구수']

name=input('원하는 지역의 이름을 입력하주세요 : ')
a =df[df.index.str.contains(name)]

x=df.sub(df2.iloc[0],axis='columns')
y=np.power(x,2)
z=y.sum(axis='columns')
i = z.sort_values().index[:6]

plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

plt.style.use('ggplot')
df.columns =range(101)
df.loc[i].T.plot(figsize=(10,6))
plt.xlabel('나이')
plt.ylabel('인구 비율')
plt.grid(True)

plt.xticks(range(0,10,10))
plt.show()